<div layout="column" layout-align="center center" layout-margin layout-padding ng-hide="vm.currentUser">
  <div class="md-display-3" flex>Welcome</div>
  <div class="md-subhead" flex>Please <a href="/login">sign in</a> or <a href="/register">register</a>.</div>
</div>
<div ng-show="vm.currentUser">
  <navbar></navbar>
  <div class="container">
    <div layout="row" ng-cloak layout-wrap>
      <div flex="25" ng-repeat="product in vm.products">
        <md-card>
          <img ng-src="{{product.image}}" class="md-card-image">
          <md-card-title>
            <md-card-title-text>
              <div class="md-headline">{{product.name}}</div>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div>{{product.description}}</div>
          </md-card-content>
          <md-card-actions layout="row">
            <md-input-container flex>
              <label>Quantity</label>
              <input type="number" min="1" ng-model="vm.quantities[$index]">
            </md-input-container>
            <md-button class="md-primary md-raised" ng-click="vm.updateCart(product._id, vm.quantities[$index])" flex>Add to Cart</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</div>