<div layout="column" layout-align="center center" layout-padding layout-margin layout-fill>
  <div layout="row" layout-align="center center">
    <div class="md-headline">Create an account</div>
  </div>
  <md-whiteframe class="md-whiteframe-2dp" style="width: 30%;">
    <div class="alert alert-danger" role="alert" layout="row" layout-align="center center" ng-show="vm.error">{{vm.error}}</div>
    <form name="registerForm" ng-submit="vm.onSubmit(vm.credentials)">
      <md-input-container class="md-block">
        <md-icon md-font-library="material-icons">email</md-icon>
        <input ng-model="vm.credentials.email" type="email" placeholder="Enter your email" ng-required="true">
      </md-input-container>
      <md-input-container class="md-block">
        <md-icon md-font-library="material-icons">lock</md-icon>
        <input ng-model="vm.credentials.password" type="password" placeholder="Create a password" ng-required="true">
      </md-input-container>
      <md-input-container class="md-block">
        <md-icon md-font-library="material-icons">check</md-icon>
        <input ng-model="vm.credentials.passwordConfirmation" type="password" placeholder="Confirm your password" ng-required="true">
      </md-input-container>
      <div layout="row">
        <md-button class="md-raised md-primary" type="submit" flex>Register</md-button>
      </div>
    </form>
  </md-whiteframe>
  <a href="/login" class="md-subhead">Sign in</a>
</div>
