<md-dialog>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editing {{vm.productName}}</h2>
        <span flex></span>
        <md-button ng-click="vm.cancel()">
          <md-icon md-font-library="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="alert alert-danger" role="alert" ng-show="vm.error">{{vm.error}}</div>
        <md-input-container class="md-block">
          <label>Name</label>
          <input type="text" id="name" ng-model="vm.updatedProduct.name" required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea id="description" ng-model="vm.updatedProduct.description" rows="5" required></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Image URL</label>
          <input type="url" id="image" ng-model="vm.updatedProduct.image" required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Price</label>
          <input type="number" id="price" min="0" ng-model="vm.updatedProduct.price" required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Quantity</label>
          <input type="number" id="quantity" min="0" ng-model="vm.updatedProduct.quantity" required>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm.confirm()">Confirm</md-button>
      <md-button ng-click="vm.cancel()">Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>