<div class="container">
  <div layout="row">
    <h1>Admin Dashboard</h1>
    <div flex></div>
    <md-button class="md-fab md-primary">
      <md-icon md-font-library="material-icons" ng-click="vm.showAddForm($event)">add</md-icon>
    </md-button>
  </div>
  <div layout="row" ng-cloak layout-wrap>
    <div flex="25" ng-repeat="product in vm.products">
      <md-card>
        <img ng-src="{{product.image}}" class="md-card-image">
        <md-card-title>
          <md-card-title-text>
            <div class="md-headline">{{product.name}}</div>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div>{{product.description}}</div>
        </md-card-content>
        <md-card-actions layout="row">
          <md-button class="md-primary md-raised" ng-click="vm.showEditForm($event, product)" flex>Edit</md-button>
          <md-button class="md-primary md-raised" ng-click="vm.showDeleteForm($event, product)"flex>Delete</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>