<navbar></navbar>
<div class="container">
  <h3 class="md-headline">Grand Total: ${{vm.grandTotal}}</h3>
  <form id="checkout">
    <div id="payment-form"></div>
    <input type="submit" value="Place your order">
  </form>
</div>
