<md-toolbar layout="row" layout-align="center center">
  <md-button href="/">Ecommerce App</md-button>
  <span flex></span>
  <md-menu>
    <md-button ng-click="$mdOpenMenu()">
      Your Account
    </md-button>
    <md-menu-content>
      <md-menu-item>
        <md-button href="/orders">
          Your Orders
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="navvm.logout()">
          Logout
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
  <md-button href="/cart">Cart</md-button>
</md-toolbar>