<div layout="column" layout-align="center center" layout-padding layout-margin layout-fill>
  <div layout="row" layout-align="center center">
    <div class="md-headline">Please sign in</div>
  </div>
  <md-whiteframe class="md-whiteframe-2dp" style="width: 30%;">
    <div class="alert alert-danger" role="alert" layout="row" layout-align="center center" ng-show="vm.error">{{vm.error}}</div>
    <form name="loginForm" ng-submit="vm.onSubmit(vm.credentials)">
      <md-input-container class="md-block">
        <md-icon md-font-library="material-icons">email</md-icon>
        <input ng-model="vm.credentials.email" type="email" placeholder="Email" ng-required="true">
      </md-input-container>
      <md-input-container class="md-block">
        <md-icon md-font-library="material-icons">lock</md-icon>
        <input ng-model="vm.credentials.password" type="password" placeholder="Password" ng-required="true">
      </md-input-container>
      <div layout="row">
        <md-button class="md-raised md-primary" type="submit" flex>Sign in</md-button>
      </div>
    </form>
  </md-whiteframe>
  <div layout="row" layout-align="center center">
    <a href="/register" class="md-subhead" ng-hide="vm.credentials.isAdmin">Register</a>
  </div>
</div>
