<navbar></navbar>
<div class="container">
  <h2 class="md-display-1">Your Orders</h2>
  <div layout="row" layout-wrap ng-repeat="order in vm.orders">
    <md-toolbar class="md-primary md-hue-1" >
      <div class="md-toolbar-tools">
        <div flex>Order #{{order._id}}</div>
        <div flex>Order Placed: {{order.date}}</div>
        <div flex>Total: ${{vm.calcTotal(order.order)}}</div>
      </div>
    </md-toolbar>
    <md-content layout="row">
      <div flex="25" ng-repeat="item in order.order">
        <md-card>
          <img ng-src="{{item.productId.image}}" class="md-card-image">
          <md-card-title>
            <md-card-title-text>
              <div class="md-headline">{{item.productId.name}}</div>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div>{{item.productId.description}}</div>
            <div>Quantity: {{item.quantity}}</div>
            <div>Price: ${{item.productId.price}}</div>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </div>
</div>