<navbar></navbar>
<div class="container">
  <h2 class="md-display-1">Your Shopping Cart</h2>
  <div layout="row" ng-cloak layout-wrap>
    <div layout="row" layout-wrap>
      <div  flex="25" ng-repeat="item in vm.cart">
        <md-card>
          <img ng-src="{{item.productId.image}}" class="md-card-image">
          <md-card-title>
            <md-card-title-text>
              <div class="md-headline">{{item.productId.name}}</div>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div>{{item.productId.description}}</div>
            <div>Quantity: {{item.quantity}}</div>
            <div>Price: ${{item.productId.price}}</div>
          </md-card-content>
          <md-card-actions layout="row">
            <md-button class="md-primary md-raised" flex ng-click="vm.removeItem($index, item)">Remove</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
  <div layout="row">
    <h3 class="md-headline">Grand Total: ${{vm.grandTotal}}</h3>
    <span flex></span>
    <a href="/checkout"><md-button class="md-primary md-raised">Checkout</md-button></a>
  </div>
</div>